{% extends "base/base.html" %}
{% load i18n %}
{% load url from future %}
{% load viewgroups_tags humanize %}


{% block extrascripts %}
    {{ block.super }}
    <script>
        $(function () {
            $(".all").click(function () {
                $("input[name={{ selected_name }}]").prop("checked", this.checked);
            });
            $("input[name={{ selected_name }}]").click(function () {
                $(".all").prop('checked', $("input[name={{ selected_name }}]").length ==
                        $("input[name={{ selected_name }}]:checked").length);
            });
        });
    </script>
{% endblock extrascripts %}


{% block header %}{{ opts.verbose_name_plural.title }}{% endblock header %}


{% block links %}
    {% for link in manager.links.default_global %}
        {% url manager.name|add:':'|add:link.name as url %}
        {% if url %}
            <a class="btn btn-default" href="{{ url }}">{{ link.get_title }}</a>
        {% else %}
            {% blocktrans with link_name=manager.name|add:':'|add:link.name %}{{ link_name }} is not a valid url{% endblocktrans %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block detail %}

    {% if search or filters %}
        <div class="navbar navbar-default">
            {% if filters %}
                <div class="navbar-form navbar-right">
                    {% for filter in filters %}
                        <div class="btn-group filternavbar-btn">
                            <button type="button"
                                    class="btn {% if not filter.used_parameters %}btn-default{% else %}btn-info{% endif %} dropdown-toggle"
                                    data-toggle="dropdown">
                                {{ filter.title.title }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for item in filter.items %}
                                    <li>
                                        <a href="{{ item.query_string }}">
                                            {% if item.selected %}
                                                <em class="fa fa-check"></em>
                                            {% endif %}
                                            {{ item.display }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if search %}
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control"
                               name="{{ search }}"
                               value="{{ query }}"
                               type="text"
                               placeholder="{% trans 'Search Terms...' %}">
                    </div>
                    <button class="btn btn-default">{% trans 'Search' %}</button>
                </form>
            {% endif %}
            {% if search or filters %}
                <p class="navbar-text">
                    <a href="?_">{% blocktrans with qs_count=original_queryset.count|intcomma %}{{ qs_count }} Total{% endblocktrans %}</a>
                </p>
            {% endif %}
        </div>
    {% endif %}

    {% if actions %}
        <form action="." method="post">
    {% endif %}


{% block list_detail %}
    <div class="table-responsive">
    {% if headers and rows %}
        {% if object_list %}
            <table class="table table-striped">
                <thead>
                <tr>
                    {% if actions %}
                        <th>
                            <input type="checkbox" class="all">
                        </th>
                    {% endif %}
                    {% for header in headers %}
                        <th>{{ header|safe }}</th>
                    {% endfor %}
                </tr>
                </thead>
                {% for object, row in rows %}
                    <tr>
                        {% if actions %}
                            <td><input type="checkbox"
                                       value="{{ object.pk }}"
                                       name="{{ selected_name }}"></td>
                        {% endif %}
                        {% for cell in row %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {% if request.META.QUERY_STRING %}
                <div>
                  <em>
                    {% blocktrans with vnp=opts.verbose_name_plural %}No {{ vnp }} match your search{% endblocktrans %}
                  </em>
                </div>
            {% else %}
                {% block list_empty %}
                    <div>
                      <em>
                        {% blocktrans with vnp=opts.verbose_name_plural %}Sorry, there are no {{ vnp }} at this time.{% endblocktrans %}
                      </em>
                    </div>
                {% endblock list_empty %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if object_list %}
            <table class="table table-striped table-bordered">
                {% block list_detail_header %}{% endblock list_detail_header %}
                {% for object in object_list %}
                    {% block list_detail_item %}
                        <tr>
                            <td>
                                {% if manager.views.detail %}
                                <a href="{% url 'base:detail' object|pkslug %}">{{ object }}</a>
                                {% else %}
                                {{ object }}
                                {% endif %} 
                            </td>
                        </tr>
                    {% endblock %}
                {% endfor %}
            </table>
        {% else %}
            {% if request.META.QUERY_STRING %}
                <div>
                  <em>
                    {% blocktrans with vnp=opts.verbose_name_plural %}No {{ vnp }} match your search{% endblocktrans %}
                  </em>
                </div>
            {% else %}
                    <div>
                      <em>
                        {% blocktrans with vnp=opts.verbose_name_plural %}Sorry, there are no {{ vnp }} at this time.{% endblocktrans %}
                      </em>
                    </div>
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
{% endblock list_detail %}

{% if object_list and actions %}
    <div class="navbar navbar-default">
        <div class="navbar-form">
            <div class="form-group">
                {% csrf_token %}
                <select name="{{ action_name }}" class="form-control">
                    {% for action,name in actions %}
                        <option value="{{ action }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-default">Go</button>
        </div>
    </div>
    </form>
{% endif %}

    {% with page_obj as page %}
        {% if page %}
            {% include "base/pagination.html" %}
        {% endif %}
    {% endwith %}

{% endblock detail %}
